__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
.Python

venv/
ENV/
env/
.venv/
*.pyo
*.pyd

htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
*.py,cover
.cache
nosetests.xml
*.log

.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/

.idea/
*.iml

.DS_Store
Thumbs.db
*.swp
*.swo
*.bak

test_data/*
